:root {
  background-color: #fff7ed;
}
body {
  margin: 0;
  padding: 0;
}
.headerDiv {
  display: flex;
  justify-content: space-around;
  gap: 400px;
  background-color: #fff7ed;
  text-align: center;
  height: 100px;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.42)),
    url("./assets/vanWallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.desc {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 100px;
}
main p {
  margin: 0;
  font-family: Inter;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0%;
  color: #ffff;
}

footer {
  background-color: #252525;
}

footer p {
  margin: 0;
  color: white;
  color: #aaaaaa;
  font-weight: 500;
  font-family: Inter;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.button {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #ff8c38;
  border: none;
  color: white;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter;
  text-decoration: none;
}

.aboutDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  color: #161616;
}

.aboutParagraph {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #161616;
}

.sectionDiv {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  text-align: left;
  background-color: #ffcc8d;
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  font-family: Inter;
  height: 180px;
}

.section3 h3 {
  margin-top: 5px;
}

.link-button {
  background-color: #161616;
  color: white;
  margin-top: 0;
  border-radius: 10px;
  font-family: Inter;
  line-height: 24px;
  padding: 10px 50px;
  font-weight: 700;
  border: none;
  font-size: 12px;
  margin-bottom: 15px;
}
.van-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  margin: 40px auto;
  max-width: 100px;
}

.van-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff7ed;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

img {
  border-radius: 10px;
  width: 250px;
}

.van-tile h3,
p {
  font-family: Inter;
}

.van-type {
  height: 20px;
  padding: 10px 26px 10px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  font-family: Inter;
  cursor: pointer;
}

.van-type.Simple.selected {
  background-color: #e17654;
}

.van-type.Rugged.selected {
  background-color: #115e59;
}

.van-type.Luxury.selected {
  background-color: #161616;
}

.van-type.selected {
  color: #ffead0;
}

.explore {
  font-family: Inter;
}

.van-info p {
  font-weight: bold;
}

.van-info span {
  font-weight: 400;
}

.vans-header {
  color: #4d4d4d;
  text-decoration: none;
}

.vans-header:hover {
  text-decoration: underline;
}

.about-header {
  color: #4d4d4d;
  text-decoration: none;
}
.about-header:hover {
  text-decoration: underline;
}

.van-tile-info {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff7ed;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.van-tile-info img {
  margin-bottom: 30px;
  width: 500px;
}

.van-description {
  font-family: Inter;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
}

.link-button {
  margin-top: 40px;
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}

.van-info h3 {
  font-size: 32px;
}

.host-header {
  color: #4d4d4d;
  text-decoration: none;
}
